.section{
    max-width:500px;
    margin: 100px auto;
    background-color: rgb(142, 214, 190)  ;
    padding:50px;
}

input[type="text"]{
    padding: 10px;
    width: 50%;
    font-size: 15px;
    border-radius: 10px;
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    background-color: rgb(37, 37, 141);
    font-size: 15px;
    margin-left: 20px;
}
